{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <br>
        <br>
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://cdn-icons-png.freepik.com/256/1053/1053647.png" alt="img" width="170px" id="log_img">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login    
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an Account ?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}

        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
        #log_img{
            box-shadow: 0px 0px 5px #4b4b4b;
            border-radius: 100px;
        }
    </style>
</body>
{% endblock %}